body {
    background-color: white;
}

header {
    margin: 20px;
    background: #3f51b5;
    height: 50px;
    line-height: 3.5;
    font-size: 1.2rem;
    color: white;
    padding: 0 20px;
    text-align: center;
}

